<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-content">

        <!-- User dropdown -->
        <div class="user-menu dropdown">
            <a href="">
                <div class="user-info">

                </div>
            </a>
        </div>
        <!-- /user dropdown -->


        <!-- Main navigation -->
        <ul class="navigation">
            <li id="li-admin-employee"><a href="/employees/asset"><span>Quản lý tài khoản</span> <i class="icon-users"></i></a></li>
            <li id="li-admin-commission"><a href="/asset"><span>Quản lý tài sản</span> <i class="icon-credit"></i></a></li>
            <li id="li-admin-add-state"><a href="/category"><span>Quản lý danh mục</span> <i class="icon-location"></i></a></li>
            <!--<li id="li-admin-statistical"><a href="/admin/statistic"><span>Thống kê</span> <i class="icon-stats-up"></i></a></li>-->
            <li id="li-admin-logout"><a href="/logout"><span>Đăng xuất</span> <i class="icon-exit3"></i></a></li>
        </ul>
        <!-- /main navigation -->

    </div>
</div>
<!-- /sidebar -->