<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-content">

        <!-- User dropdown -->
        <div class="user-menu dropdown">
            <a href="/me/profile">
                <div class="user-info">
                   ADMIN
                </div>
            </a>
        </div>
        <!-- /user dropdown -->


        <!-- Main navigation -->
        <ul class="navigation">
            <li id="li-admin-commission"><a href="/view/asset"><span>Quản lý tài sản</span> <i class="icon-credit"></i></a></li>
            <li id="li-admin-logout"><a href="/logout"><span>Đăng xuất</span> <i class="icon-exit3"></i></a></li>
        </ul>
        <!-- /main navigation -->

    </div>
</div>
<!-- /sidebar -->